@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

.rbc-calendar {
  font-family: 'Mukta', sans-serif;
}
.MuiTypography-root {
  color: #1a545c !important;
}
.rbc-event {
  background-color: #ffffff !important;
  color: black !important;
  box-shadow: -1px 0px 7px 1px rgba(0, 0, 0, 0.1) !important;
  padding: 5px 5px !important;
}

.rbc-event:focus {
  outline: 5px auto #c0ccda !important;
}

.rbc-event-content,
.eventTitle {
  border: none !important;
  font-size: 11px !important;
  font-weight: 600 !important;
}

.rbc-off-range-bg {
  background-color: #d8ddef !important;
}

.rbc-off-range a {
  display: none !important;
}
.rbc-row-segment {
  padding: 2px 5px !important;
}

.rbc-month-view {
  border: none !important;
}

.rbc-month-view div span {
  color: #899ad7 !important;
}

.rbc-header + .rbc-header {
  border-left: none !important;
  padding: 5px 0 !important;
}
.rbc-header {
  border-bottom: none !important;
}
.rbc-toolbar-label {
  font-weight: 700 !important;
  font-size: 21px !important;
}
.rbc-month-row {
  border-bottom: 0px solid #899ad7 !important;
}

.rbc-day-bg {
  border-right: 0px solid #36898c !important;
  background-color: #edf8f7 !important;
}
.rbc-row-bg :nth-last-child(1) {
  border-right: none !important;
}

.rbc-month-view :nth-last-child(5) {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
.rbc-row-bg :nth-last-child(5) {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.rbc-show-more {
  color: #1a545c !important;
}

.rbc-active {
  color: #fbfcfd !important;
  background-color: #1a545c !important;
  border-color: #1a545c !important;
}

.rbc-toolbar button:hover {
  color: #fbfcfd !important;
  background-color: #296b6d !important;
  border-color: #296b6d !important;
}

.rbc-toolbar button {
  font-weight: 600 !important;
}

.rbc-toolbar button:focus {
  color: #fbfcfd !important;
  background-color: #1a545c !important;
  border-color: #1a545c !important;
}

.rbc-agenda-date-cell {
  border-right: 1px solid #899ad7 !important;
}
.rbc-toolbar {
  position: relative !important;
}
.rbc-btn-group {
  position: absolute;
  left: 0;
}
@media only screen and (max-width: 600px) {
  .rbc-btn-group {
    position: relative;
    left: auto;
  }
  .rbc-toolbar {
    flex-direction: column !important;
  }
  .rbc-toolbar-label {
    padding-top: 10px !important;
  }
}

.rbc-btn-group button {
  border: 1px solid #1a545c !important;
}
